* {
    margin: 0;
    padding: 0;
}

.nav{
    position: fixed;
    display: flex;
    align-items: center;
    width: 100%;
    z-index: 1;
}

.new_nav{
    padding-bottom: 10px;
    background: white;
    box-shadow: 0px 0px 50px -32px rgba(0,0,0,1);
}

.head video{
    width: 100%;
    object-fit: cover;
    height: 100vh;
}

.nav_img{
    padding-top: 40px;
    padding-left: 60px;
    margin-right: 48px;
    height: 155px;
}
.new_nav_img{
    padding-top: 10px;
    padding-left: 20px;
    margin-right: 48px;
    height: 90px;
}

#nav_ul{
    display: none;
    list-style: none;
}
.nav>ul>li>div{
    position: relative;
    padding: 8px 0px;
    border-right: 1px solid #e5e5e5;
    padding-left: 8px;
    transition: background-color 0.5s ease-out;
}
.nav_ul_li_div:hover,.nav_ul_li_div:hover .nav_ul_a{
    background-color: #f0f0f0;
    transition: background-color 0.5s ease-out;
    color: black;
}
.nav_ul_li_div:hover .nav_drop{
    display: block;
}

.nav>ul {
    display: none;
    list-style: none;
}
.nav_ul_a{
    text-decoration: none;
    font-size: 24px;
    color: #646464;
    margin-right: 16px;
}
.nav_drop ul a{
    text-decoration: none;
    font-size: 18px;
    color: #646464;
}

.nav_drop{
    position: absolute;
    background-color: #f0f0f0;
    margin-top: 8px;
    left: 0;
    width: -webkit-fill-available;
    min-width: max-content;
    box-shadow: 13px 14px 16px -13px rgba(0,0,0,0.27);
    display: none;
}

.nav_drop ul{
    list-style: none;
}
.nav_drop li::after{
    content: '';
    display: block;
    position: relative;
    height: 1px;
    background: #dadada;
    margin-top: 16px;
}
.nav_drop li:hover a,.nav_drop li:hover{
    background-color: white;
    color: black;
    cursor: pointer;
    transition: background-color 0.5s ease-out;
}
.nav_drop li{
    padding: 0 16px;
    padding-top: 16px;
    transition: background-color 0.5s ease-out;
}

.login_button{
    margin-left: auto;
    margin-right: 48px;
    font-size: 30px;/*-------------------------------------- */
    border: 2px solid #646464;
    color: #646464;
    border-radius: 8px;
    padding: 4px;
    font-weight: bold;
}

footer{
    background-color: #f1f1f1;
}

.footer{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 48px;
}

.footer_h_ul_li{
    padding: 0 40px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer h3{
    color: #800000;
    margin-bottom: 24px;
    font-size: 24px;
}

.footer h3::after{
    content: '';
    display: block;
    width: 50%;
    position: relative;
    height: 1px;
    background: #e0e0e0;
    left: 25%;
    margin-top: 10px;
}

.footer ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer li{
    padding-bottom: 16px;
    font-size: 18px;
}

.footer ul li a{
    text-decoration: none;
    color: #464646;
    opacity: 0.7;
}
.footer ul li a:hover{
    opacity: 1;
    font-size: 18.7px;
    transition: font-size 0.5s
}

.footer_img{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 64px;
    margin-bottom: 80px;
}

.footer_img img{
    height: 200px;
    margin-bottom: 20px;
}

.footer_img p{
    font-size: 20px;
    color: #6b0000;
    font-weight: bold;
}
