{% extends "instsite/base2.html" %}

{% load static %}

{% block link %}
<link rel="stylesheet" href="{% static 'instsite/nav2.css' %}">
<link rel="stylesheet" href="{% static 'instsite/footer.css' %}">
<link rel="stylesheet" href="{% static 'instsite/about.css' %}">
{% endblock %}
{% block nav %}{% include "instsite/nav2.html" with image='instsite/IIITV-ICD_Logo_nobg_no111.png' %}{% endblock %}
{% block script %}
<script src="{% static 'instsite/about.js' %}"></script>
{% endblock %}

{% block title %}About{% endblock %}

{% block main %}
<div class="main">
    <img id="main_img" src="{% static 'instsite/abt.jfif' %}" alt="">
    <div id="head_title">
        <div id="head_title_ins">
            <h1>About</h1>
        </div>
    </div>
    <div id="main_body">
        <div id="main_body_text">
            <h1 id="main_title">About Indian Institute of Information Technology Vadodara International Campus Diu</h1>
            <p>Indian Institute of Information Technology Vadodara International Campus Diu (IIITV-ICD) is a satellite campus of Indian Institute of Information Technology Vadodara (IIIT Vadodara, an Institute of National Importance by an Act of Parliament) .</p>
            <p>IIITV-ICD has been established at Education Hub, Kevdi - Diu under partnership with Government of Dadra & Nagar Haveli and Daman & Diu (UT Administration of DNH & DD ) with the approval of Board of Governors (BoG) wherein Ministry of Education (earlier MHRD) is a member. The graduates from this campus will be awarded degree by IIIT Vadodara. </p>
            <p>The IIITV-ICD will be administered by Board of Governors, Finance Committee and Senate of IIIT Vadodara.</p>
            <p>The IIITV-ICD will admit its first batch of undergraduate students from Academic Year 2020-21. IIITV-ICD has been accommodated in the state of art campus of “Education Hub” at Diu.</p>
            <p>“Educational Hub” spread over 25 acre (1, 01,869 sq. m) land. The campus has total Built-up area of 12,908.84 sq.m. It presently houses Government College (B.A., B. Com. and B. Sc. Streams) and a Polytechnic (Diplomas in Mechanical, Electrical, Civil and Marine Engineering; Affiliated to Gujarat Technical University). The Educational Hub has following objectives:</p>
            <ul>
                <li> To provide quality education with the highest standards.</li>
                <li> A stimulating learning environment.</li>
                <li> State of the art infrastructure.</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}