{% extends "instsite/base2.html" %}

{% load static %}

{% block link %}
<link rel="stylesheet" href="{% static 'instsite/nav2.css' %}">
<link rel="stylesheet" href="{% static 'instsite/footer.css' %}">
<style>
    *{
        margin: 0;
        padding: 0;
    }
    a{
        text-decoration: none;
        color: black;
    }
    #dum{
        height:120px;
    }

    #anno_det{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .anno_det h1{
        font-size: 40px;
    }
    .anno_det{
        margin-top: 36px;
        margin-bottom: 64px;
        padding: 8px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        max-width: 740px;
    }
    .anno_det p{
        margin-top: 24px;
        font-size: 19px;
    }

</style>
{% endblock %}
{% block script %}
<script src="{% static 'instsite/stat.js' %}"></script>
{% endblock %}
{% block title %}IIITVICD | B.Tech{% endblock %}
{% block nav %}{% include "instsite/nav2.html" with image='instsite/IIITV-ICD_Logo_nobg_no111.png' %}{% endblock %}
{% block main %}
<div class="main">
    <div id="dum"></div>
    <div id="anno_det">
        <div class="anno_det">
            <h1>Bachelor of Technology - Computer Science and Engineering</h1>
            <p>The programme is designed to make a strong foundation in CSE that includes electronics and hardware. Computer science courses are introduced in the early semesters while non-IT courses in the later stages. IT workshops are specially designed courses allowing the students to have mastery in the use of the latest software technologies. The courses in mathematics, sciences, engineering and humanities enable students to explore the wider applications of technology.</p>
            <p><a href="http://diu.iiitvadodara.ac.in/pdf/UG_Curriculum_2018.pdf" style="text-decoration: underline;">Approved Curriculum</a></p>
        </div>
    </div>
</div>
{% endblock %}